.bg-light {
   
    color:white;
}

.navbar-light .navbar-brand {
    color: rgba(244, 237, 237, 0.9);
}
.bg-primary{
	
}
h1{
	font-size:35px;
	padding-left:20px;
}
h6{
	font-size:13px
}
h5{
	font-size:13px;
}